html,body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #d9d9d9;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.info-header{
    font-family: 'Ubuntu', sans-serif;
    display: flex; /*vyplni hornajšok a zarovna tagy vedla seba*/
    justify-content: space-around;/*zarovna content*/
    align-items: center;/*zarovna natpis do stredu*/
    width: 100%;
    max-height: 40px;
    color: whitesmoke;
    background-color: #d9d9d9;
}
.info-buttons{
    position: relative;
    margin: 7px;
    padding-left: 10px;
    left: 39%;
    box-flex: right;
    justify-content: space-evenly;
    display: flex;
    width: 20%;
}
.FLAG{
    max-width: 20px;
    position: relative;
    
}
nav{
    font-family: 'Ubuntu', sans-serif;
    display: flex; /*vyplni hornajšok a zarovna tagy vedla seba*/
    justify-content: space-around; /*zarovna content*/
    align-items: center;/*zarovna natpis do stredu*/
    max-height: 10vh;
    background-color: #cccccc;
}
.logo{
    letter-spacing: 3px; /*vitvara miesto medzi pismenamy v slove*/
    color: black;
    font-size: 30px;
}
.menu-buttons{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.menu-buttons,.a{
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; /*niečo ako tag strong*/
}
.menu-buttons,li{
    list-style: none; 
}

.Night-button{
    border: none;
    background-color: #cccccc;
    position: absolute;
    margin-right: 0px;
    margin-top: 0px;
    right: 0%;
    
}
.Night-a{
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.img-Background{
    width: 100%;
}
/*////////////////////////////////////////*/
.About-section{
    font-family: 'Ubuntu', sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    letter-spacing: 2px;
}
.about{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.h1{
    text-align: center;
    font-size: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
#h1-medusa{                 
    background-image: url(./img/header/Medusa-header-about-us.png);
    box-shadow: 0px 0px 8px darkblue;
}
#h1-sell{
    background-image: url(./img/header/sell-header-about-us.png);
    box-shadow: 0px 0px 8px darkred;
}
#h1-buy{
    background-image: url(./img/header/buy-header-about-us.png);
    box-shadow: 0px 0px 8px darkgreen;
}
#h1-contact{
    background-image: url(./img/header/contact-header-us.png);
    box-shadow: 0px 0px 8px purple;
}
#h1-Mcar{
    background-image: url(./img/header/Mcar-header-us.png);
    box-shadow: 0px 0px 8px yellow;
}
.p{
    line-height: 190%;
    font-size: 25px;
    margin-top: -5px;
}
#about-us{
    transform: 1.5s;
}
.go-up{
    position: fixed;
    background-color: #cccccc;
    color: black;
    text-decoration: none;
    padding: 12px 22px;
    right: 15px;
    bottom: 55px;
    border-radius: 30px 80px;
}
/*////////////////////////////////////////*/
.contact-section{
    font-family: 'Ubuntu', sans-serif;
    margin: 3% 5% 0% 5%;
    letter-spacing: 2px;
    background-color: none;
}
.map{
    box-shadow: 0px 0px 20px grey;
    border: lightgrey 3px solid;
    float: left;
    width: 50%;
}
.adress{
    margin-left: 55%;
}
.mhd{
    margin-left: 10px;
    color: #d9d9d9;
    background-color: black;
    text-decoration: none;
}
.mhd:hover{
    color: black;
    background-color: #d9d9d9;
}
.social-media{
    background-color: #d3d3d3;
    border: #d1d1d1 solid 2px;
    float: right;
    
}
.social-media-icons img{
    width: 50%;
    margin-top: 20px;
    padding: 10px 0px 10px 0px;
}
.decoration{
    color: #d9d9d9;
    background-color: black;
    text-decoration: none;
}
.decoration:hover{
    color: black;
    background-color: #d9d9d9; 
}
.Gallery-button{
    position: fixed;
    background-color: #cccccc;
    color: black;
    text-decoration: none;
    padding: 12px 22px;
    right: 15px;
    bottom: 25px;
    border-radius: 80px 0px;
}
.car-img{
    width: 35%;
    margin-right: 30px;
    box-shadow: 0px 0px 20px grey;
    border: lightgrey 3px solid;
}
.Mcar{
    margin-top: 10%;
    text-align: center;
}
.footer{
    background-color: rgb(204, 204, 204);
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}










@media (max-width:667px) {
    html,body{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }
    .info-header{
        font-family: 'Ubuntu', sans-serif;
        display: flex; /*vyplni hornajšok a zarovna tagy vedla seba*/
        justify-content: space-around;/*zarovna content*/
        align-items: center;/*zarovna natpis do stredu*/
        width: auto;
        max-height: 40px;
        color: black;
        background-color: #d9d9d9;
    }
    .info-buttons{
        position: relative;
        margin: 7px;
        padding-right: 10%;
        left: 28%;
        box-flex: right;
        justify-content: space-evenly;
        display: flex;
        width: 30%;
    }
    .FLAG{
        max-width: 13px;
        position: relative;
        
    } 
    nav{
        font-family: 'Ubuntu', sans-serif;
        display: flex; /*vyplni hornajšok a zarovna tagy vedla seba*/
        justify-content: space-around; /*zarovna content*/
        align-items: center;/*zarovna natpis do stredu*/
        max-height: 10vh;
        background-color: #cccccc;
    }
    .logo{
        letter-spacing: 3px; /*vitvara miesto medzi pismenamy v slove*/
        color: black;
        font-size: 15px;
        padding-left: 2%;
    }
    .menu-buttons{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
    .menu-buttons,.a{
        color: black;
        letter-spacing: 2px;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold; /*niečo ako tag strong*/
    }
    .menu-buttons,li{
        list-style: none; 
    }
    .Night-a{
        font-size: 12px;
    }
    .h1{
        font-size: 30px;
    }
    .p{
        margin-top: -5%;
        line-height: 150%;
        font-size: 15px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .map{
        margin-top: -5px;
        margin-bottom: 5px;
        width: 100%;
    }
    .adress{
        margin: 0%;
    }

}
